<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <appSettings>
        <!-- Default archive root directory (relative to exe) -->
        <add key="DefaultArchiveDirectory" value="Archives" />
        <!-- Default collection interval in seconds -->
        <add key="DefaultCollectIntervalSeconds" value="5" />
        <!-- Default archive interval in seconds -->
        <add key="DefaultArchiveIntervalSeconds" value="60" />
    </appSettings>
</configuration>